.git
*.csv
nmars*.*
pmars*.*
arena?/*
!arena?/.gitkeep
nunit.framework.dll
SDL.dll
archive/*
!archive/.gitkeep
instructions.txt
*.bak
nano.txt
both.txt
std.txt
tiny.txt

# Build artifacts
build/
*.so
